.player{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
  .wrapper{
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #a8a8a8;
    padding-bottom: 10px;
  }
  .buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #CCCEDB;
  width: 820px;
  height: 70px;
  }
  .active{
      color: black;
  }
  .repeat-track,
  .random-track,
  .playpause-track,
  .prev-track,
  .next-track {
  padding: 10px;
  transition: opacity .2s;
  }
  
  .repeat-track:hover,
  .random-track:hover,
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
  opacity: 1.0;
  }

  .slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CCCEDB;
  }

  .vol{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CCCEDB;
  }
  
  .seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-transition: .2s;
  transition: opacity .2s;
  }
  
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  border: 2px solid rgb(155, 155, 155);
  cursor: grab;
  border-radius: 100%;
  }
  
  .seek_slider:hover,
  .volume_slider:hover {
  opacity: 1.0;
  }
  
  .seek_slider {
  width: 60%;
  }
  
  .volume_slider {
  width: 30%;
  }
  
  .current-time,
  .total-duration {
  padding: 5px;
  }
  
  i.fa-volume-down,
  i.fa-volume-up {
  padding: 5px;
  }
  
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,
  p {
  cursor: pointer;
  }
  .randomActive{
      color: black;
  }
  .rotate {
      animation: rotation 8s infinite linear;
  }
  @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
  }
